
.CharacterCard:hover{
    box-shadow:  2px 2px 7px #000000;
}

.cardImg {
    filter: grayscale(50%);
    opacity: 0.8;
    background-color: #24550180 !important;
}

.card {
    background-color: #24550180;
    overflow: hidden;
    border-radius: 0 !important;
    border: solid 0.5px black;
}

.cardTitle {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}