.SearchBar {
    margin: 25px 0px;
}

.input {
    width: 100%;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: none;
}


.input:focus {
    outline: none;
}